<div class='col-md-3 px-3 my-3'>
  <div class="card">
    <!-- <#%= image_tag service.photos, class: 'card-img-top', style: 'height:200px'%> -->
    
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel"> 
        <% if service.photos.attached?%>
        <% (0..(service.photos.count-1)).each do |i| %>
        <ol class="carousel-indicators">
          <% if i==0%>
          <li data-target="#carouselExampleCaptions" data-slide-to=i class="active"></li>
          <% else %>    
          <li data-target="#carouselExampleCaptions" data-slide-to=i></li>
          <% end %>  
        </ol>
        <% end %>
        <% end %>
        
        
        
        <% if service.photos.attached?%>
        <div class="carousel-inner">
          <% service.photos.each do |photo|%>
          <% if photo == service.photos.first %>
          <div class="carousel-item active">
            <%= image_tag photo, class: "d-block w-100" %>
          </div>
          <% else %>   
          <div class="carousel-item">
            <%= image_tag photo, class: "d-block w-100" %>
          </div>
          <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    
    <div class="card-body">
      <h5 class="card-title"><%= service.name %></h5>
      <p class="card-text">Servicio a domicilio: 
        <% if service.home == true %>
        <%= "Si" %>
        <% else %>
        <%= "No" %>
        <% end %>
      </p>
      <p>Categoría: <%= service.category %></p>
      <br>
      <%= service.description %>
      <br>
      <%= link_to 'Ver', service %>
      <% if can?(:edit, service) %>
      <%= link_to '| Editar |', edit_service_path(service) %>
      <% end %>
      <% if can?(:destroy, service) %>
      <%= link_to 'Eliminar', service, method: :delete, data: { confirm: 'Estás segura?' } %>
      <% end %> 
    </div>
    <div class="card-footer">
      <small class="text-muted"><%=service.user.name%></small>
    </div>
    
  </div>
</div>