<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Descripción del servicio:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Va a domicilio:</strong>
  <%= @service.home %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= image_tag @service.photos, class: 'card-img-top', style: 'height:200px, weight:200px'%>
</p>

<p>
  <strong>Usuaria:</strong>
  <%= link_to @users_profile_path, current_user.name%>
</p>
<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Atrás', services_path %>
