<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Descripción del servicio:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Va a domicilio:</strong>
  <% if @service.home == true %>
  <%= "Si" %>
  <% else %>
  <%= "No" %>
  <% end %>
</p>


<p>
  <strong>Fotos:</strong>
  <% if @service.photos.attached? %>
 <br>
 <% @service.photos.each do |photo| %>
 <%= image_tag photo.variant(resize: "200x200") %>
 <br>
 <%= link_to 'Remove', service_delete_image_path(@service, photo), method: :delete, data: { confirm: 'Are you sure?' } %>
 <br>
 <% end %>
<% end %>
  <!-- <#%= image_tag @service.photos, class: 'card-img-top', style: 'height:200px, weight:200px'%> -->
</p>

<p>
  <strong>Usuaria:</strong>
  <%= link_to @service.user.name, users_profile_path%>
</p>

<!-- <div id= "reviews">
<p>COMENTARIOS</p>
<#% form_with(model: [@service, Review.new], local: true) do |f| %>
<#% f.label :comment %>
<#% f.text_area :comment %>
<#% f.submit :enviar %>
<#% end %>
</div>

<div id="reviews">
  <h2><#%= @service.reviews.count %> Comments</h2>
  <#%= render @service.reviews %>

  <h3>Add a comment:</h3>
  <#%= render "reviews/form" %>
</div> -->

<%= link_to  "Quiero contratar este servicio", services_path, class:'btn btn-warning' %>
<br>


<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Atrás', services_path %>
