<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre::</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Categoría:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Descripción del servicio:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Va a domicilio:</strong>
  <%= @service.home %>
</p>

<p>
  <strong>Fotos:</strong>
  <%= @service.photos %>
</p>

<%= link_to 'Editar', edit_service_path(@service) %> |
<%= link_to 'Atrás', services_path %>
