<h1>Perfil</h1>
<p>Find me in app/views/users/profile.html.erb</p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Nombre %><br />
    <%= f.text_field :name, autocomplete: "Nombre" %>
  </div>

  <div class="field">
    <%= f.label :País_de_residencia %><br />
    <%= f.text_field :country, autocomplete: "País de residencia" %>
  </div>

  <div class="field">
    <%= f.label :Ciudad_de_residencia %><br />
    <%= f.text_field :city, autocomplete: "Ciudad de residencia" %>
  </div>

  <div class="field">
    <%= f.label :Foto_de_perfil %><br />
    <%= f.text_field :photo, autocomplete: "Foto de perfil" %>
</div>

  

  <!-- <#% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <#% end %> -->

  

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>
